<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ListadoProductosServlet</servlet-name>
        <servlet-class>View.ListadoProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerCajaServlet</servlet-name>
        <servlet-class>View.VerCajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablaVendedorServlet</servlet-name>
        <servlet-class>View.TablaVendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablaRepartidorServlet</servlet-name>
        <servlet-class>View.TablaRepartidorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagarPedidoServlet</servlet-name>
        <servlet-class>View.PagarPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisComprasServlet</servlet-name>
        <servlet-class>View.MisComprasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerProductoServlet</servlet-name>
        <servlet-class>View.VerProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPedidoServlet</servlet-name>
        <servlet-class>View.VerPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SucesoServlet</servlet-name>
        <servlet-class>View.SucesoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SucesoCambiarServlet</servlet-name>
        <servlet-class>View.SucesoCambiarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SucesoPagarServlet</servlet-name>
        <servlet-class>View.SucesoPagarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularioAgregarUsuarioServlet</servlet-name>
        <servlet-class>View.FormularioAgregarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularioDatosUsuarioServlet</servlet-name>
        <servlet-class>View.FormularioDatosUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>View.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListadoProductosServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerCajaServlet</servlet-name>
        <url-pattern>/caja.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisComprasServlet</servlet-name>
        <url-pattern>/miscompras.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablaVendedorServlet</servlet-name>
        <url-pattern>/tablavendedor.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablaRepartidorServlet</servlet-name>
        <url-pattern>/tablarepartidor.view</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VerProductoServlet</servlet-name>
        <url-pattern>/verproducto.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPedidoServlet</servlet-name>
        <url-pattern>/verpedido.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagarPedidoServlet</servlet-name>
        <url-pattern>/pagarpedido.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SucesoServlet</servlet-name>
        <url-pattern>/Suceso.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SucesoCambiarServlet</servlet-name>
        <url-pattern>/Sucesocambiar.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SucesoPagarServlet</servlet-name>
        <url-pattern>/sucesopagar.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormularioAgregarUsuarioServlet</servlet-name>
        <url-pattern>/registrarse.view</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>FormularioDatosUsuarioServlet</servlet-name>
        <url-pattern>/misdatos.view</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/login.view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
